@import 'null_styles.scss';

body {
	font-family: Arial;
	color: #445162;
}
.wrapper {
	//чтобы вся оболочка была на высоту экрана
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
}

.title {
	font-size: 30px;
}

//hi=======================================================================
.content {
	flex: 1 1 auto;
}

.hi {
	padding-top: 35px;
	padding-bottom: 50px;
	background-color: #445162;
	color: #fff;
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__body {
		padding-right: 30px;
	}
	&__title {
		font-size: 60px;
		margin-bottom: 40px;
	}
	&__list {
		li {
			padding-left: 40px;
			font-size: 20px;
			background: url('../img/check.png') 0 1px no-repeat;
			margin: 0px 0px 15px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
}

//what=======================================================================
.what {
	padding-top: 50px;
	
	&__row {
		display: flex;
	}

	&__image {
		flex: 0 0 430px;
		img {
			max-width: 100%;
		}
	}

	&__box {
		flex: 1 1 auto;
		padding-left: 40px;
	}

	&__title {
		margin: 0px 0px 40px 0px;
	}

	&__text {
		p {
			font-size: 16px;
			line-height: 24px;
			margin: 0px 0px 30px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
}

//column=======================================================================
.columns {
	background-color: #f5f5f5;
	padding: 50px 0 20px 0;

	&__title {
		text-align: center;
		margin-bottom: 30px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		//раздвигаем
		margin: 0px -8px;
	}

	&__column {
		flex: 0 1 50%;
		margin: 0px 0px 30px 0px;
		//сжимаем делая тем самым отступы между колонками
		padding: 0px 8px;
	}

	&__item {
	}
}

.item {
	
	&__row {
		display: flex;
	}

	&__image {
		flex: 0 0 200px;
	}

	&__textbox {
		flex: 1 1 auto;
		margin-left: 20px;
	}

	&__title {
		font-size: 24px;
		margin-bottom: 20px;
	}

	&__description {
		font-size: 16px;
 		line-height: 24px;
	}
}

//vertical=======================================================================
.vertical {
	padding: 50px 0;

	&__title {
		margin-bottom: 40px;
		text-align: center;
	}

	&__inner {
		max-width: 990px;
		margin: 0 auto;
	}

	//flex container
	&__row {
		display: flex;
		margin: 0px -22.5px;
		justify-content: space-between;
	}

	&__column {
		flex: 0 1 33.333%;
		padding: 0px 22.5px;
		display: flex;
	}
	
	&__box {
		padding-bottom: 20px;
		background-color: #445162;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
	}

	&__subtitle {
		background-color: #445161;
		color: #fff;
		padding: 20px 0;
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
	}

	&__lable {
		padding: 20px 0;
		background-color: #fff;
		color: #445161;
		border: 2px solid #445161;
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
	}
	
	&__text {
		background-color: #445161;
		color: #fff;
		font-size: 14px;
		line-height: 24px;
		padding: 20px;
		flex: 1 1 auto;
		p {
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__btn {
		display: block;
		margin: 0  20px;
		background-color: #fff;
		color: #445161;
		font-size: 14px;
		font-weight: 700;
		line-height: 40px;
		font-size: 24px;
		text-align: center;
		border-radius: 5px;
	}
}

//footer=======================================================================
.footer {
	background-color: #f5f5f5;
	&__row {
		height: 65px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__text {
		font-size: 12px;
		letter-spacing: 0.3px;
		
	}
}












// body {
// 	width: 1400px;
// 	height: 1600px;
// 	padding-top: 170px;
// 	color: #273d46;
// 	background-color: #e8e8e8;
// }

// .container {
// 	width: 842px;
// 	margin: 0 auto;
// }
// .titel {
// 	font-size: 14px;
// 	text-transform: uppercase;
// 	text-align: center;
// 	letter-spacing: 2px;
	
// }
// .subtitle {
// 	font-size: 30px;
// 	text-align: center;
// 	line-height: 50px;
// 	max-width: 650px;
// 	padding-bottom: 80px;
// 	margin: 0 auto;
// }
// .image {
// 	height: 540px;
// 	background-image: url('../img/field.jpg');
// 	background-position: 0 0;
// 	background-repeat: no-repeat;
// 	background-size: 100% auto;
// 	background-origin: border-box;
// 	border: 10px solid #fff;
// 	box-shadow: 0 0 40px rgba(0,0,0,0.1);
// 	margin-bottom: 100px;
// }
// .description {
// 	padding: 0 40px 0 40px;
// 	font-size: 24px;
// 	line-height: 40px;
// }
// .description p {
//     margin-bottom: 60px;
//     &:hover {
//         &:first-line {
//             color: red;
//         }
//     }
//     &:last-child {
//         &:hover {
//             &:first-line {
//                 color: #273d46;
//             }

//             &:first-letter {
//                 color: red;
//             }
//         }
//     }
// }

// .list {
// 	font-size: 20px;
// 	line-height: 35px;	
// 	margin-bottom: 50px;
// }

// .list-item {
// 	margin-bottom: 35px;
// 	margin: 0 40px 0 40px;
// 	position: relative;
//     padding-left: 40px;
    
//     &:before {
//         content: "";
//         background: url('../img/check.png') 0 0 no-repeat;
//         width: 25px;
//         height: 20px;
//         position: absolute;
//         top: 8px;
//         left: 0;
//     }

//     &:first-child {
//         text-decoration: line-through;
//         &:hover {
//             text-decoration: none;
//         }
//     }
    
//     &:nth-child(2) {
//         font-weight: 700;

//         &:hover {
//             color: red;
//             font-weight: 400;
    
//             &:before {
//                 background: url('../img/check_red.png') left no-repeat;
//             }
//         } 
//     }
    
//     &:nth-child(3) {
//         font-style: italic;
//         &:hover {
//             font-style: normal;
//         }
//     }
    
//     &:last-child {
//         text-transform: uppercase;
//         &:hover {
//             text-transform: none;
//         }
//     }
// }

// .btn {
// 	margin-left: 40px;
// 	font-size: 14px;
// 	display: inline-block;
// 	text-transform: uppercase;
// 	background-color: #80b7b3;
// 	letter-spacing: 2px;
// 	border-radius: 25px;
// 	padding: 15px 65px 15px 30px;
// 	color: #fff;
// 	position: relative;
// 	box-shadow: 0 0 10px rgba(0,0,0,0.5);
// 	margin-bottom: 40px;
//     position: relative;
    
//     &:hover {
//         background-color: #3a5856;
//     }
    
//     &:active {
//         background-color: #818181;
//     }
    
//     &:after {
//         content: "";
//         background: url('../img/arrow.png') center no-repeat;
//         width: 20px;
//         height: 15px;
//         margin: 0 0 0 20px ;
//         position: absolute;
//         right: 32px;
//         top: 13px;
//     }
// }

// .input {
// 	margin-bottom: 40px;
// 	height: 40px;
// 	width: 300px;
//     border: 1px solid #818181;
    
//     &:focus {
//         box-shadow: 0 0 10px rgba(25, 16, 155, 0.5);
//         border: 1px solid #3a0da3;
//     }
// }

